<!DOCTYPE html>
<html th:replace="~{admin/layout/main :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Main Home</title>
</head>

<body>

<section>
    <div th:class="admin__main">
        <div th:class="admin__main-card-container">
            <a href="/admin/system/items">
            <div class="admin__main-card">
                <img th:class="card__img" th:src="@{/images/admin.png}" alt="Admin Icon">
                <div class="container">
                    <h4>Manage Items</h4>
                </div>
            </div>
            </a>

            <a href="/admin/system/items/add">
                <div class="admin__main-card">
                    <img th:class="card__img" th:src="@{/images/customer.png}" alt="Customer Icon">
                    <div class="container">
                        <h4>Add Item</h4>
                    </div>
                </div>
            </a>

            <a href="/admin/system/items/add">
                <div class="admin__main-card">
                    <img th:class="card__img" th:src="@{/images/customer.png}" alt="Customer Icon">
                    <div class="container">
                        <h4>Add Item</h4>
                    </div>
                </div>
            </a>

            <a href="/admin/system/items/add">
                <div class="admin__main-card">
                    <img th:class="card__img" th:src="@{/images/customer.png}" alt="Customer Icon">
                    <div class="container">
                        <h4>Add Item</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
</body>
</html>