<!DOCTYPE html>
<html th:replace="~{admin/layout/main :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>


<section>
    <div th:class="form-container">
        <form action="" th:action th:object="${loginForm}" th:class="login-form" method="post">
            <!-- th:field makes id element???? ask the chatgpt-->
            <div class="login-title">
                <h3>Admin Login</h3>
            </div>

            <div th:class="input-container">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                </div>

                <label for="emailId"></label>
                <input th:class="login-input" type="text" id="emailId" th:field="*{emailId}" placeholder="manager@example.com">
                <div class="field-error" th:errors="*{emailId}"></div>

                <label for="password"></label>
                <input th:class="login-input" type="password" id="password" th:field="*{password}" placeholder="password">
                <div class="field-error" th:errors="*{password}"></div>
            </div>
            <button th:class="login-btn" type="submit">Login</button>
        </form>
    </div>
</section>


</body>
</html>