<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="adminHeader" th:class="header">

    <div th:class="header__wrapper">
        <div th:class="header__container">
            <div th:class="header__menu">
                <div th:class="header__burger-btn">
                    <div th:class="header__burger"></div>
                </div>
            </div>

            <h1 th:class="header__title">Mega Pizza</h1>
            <div style="font-size: 2rem;">🍕Admin</div>
        </div>
    </div>

    <div th:class="menu-box">
        <p>hello</p>
        <p>hello2</p>
        <p>hello3</p>
        <p>hello4</p>
        <p>hello5</p>
    </div>

</header>

</body>
</html>