<!DOCTYPE html>
<html th:replace="~{admin/layout/main :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>

<section>
    <main th:class="home__main">

        <div th:class="card__container">
            <a href="/admin">
                <div class="home__card">
                    <img th:class="card__img" th:src="@{/images/admin.png}" alt="Admin Icon">
                    <div class="container">
                        <h4><b>Admin</b></h4>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="home__card customer">
                    <img th:class="card__img" th:src="@{/images/customer.png}" alt="Customer Icon">
                    <div class="container">
                        <h4><b>Customer</b></h4>
                    </div>
                </div>
            </a>
        </div>
    </main>

<br>


</section>

</body>
</html>