<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action th:object="${item}" method="post" enctype="multipart/form-data">
    <label for="itemName">Item Name:</label>
    <input type="text" id="itemName" th:field="*{itemName}" /><br/>
    <div th:errors="*{itemName}"></div>

    <label for="category">Category:</label>
    <input type="text" id="category" th:field="*{category}" /><br/>
    <div th:errors="*{category}"></div>

    <label for="description">Description:</label>
    <input type="text" id="description" th:field="*{description}" /><br/>
    <div th:errors="*{description}"></div>

    <label for="itemImage">Image File:</label>
    <input type="file" id="itemImage" name="itemImage"/><br/>
    <div th:errors="*{imgFile}"></div>
    <p>Current Image</p>
    <img th:src="|/admin/system/items/images/${item.imgFile.getStoreFileName()}|" alt="Item Image" width="400" height="200"/>

    <h3>Sizes and Prices</h3>

    <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}"
           th:text="${err}">Global Error</p>
    </div>

    <div id="sizesAndPrices">

        <div th:each="price, iterStat : ${item.prices}">
            <label>Size:</label>
            <input type="text" th:id="'size' + ${iterStat.index}" th:field="*{prices[__${iterStat.index}__].size}" />
            <br/>
            <label>Price:</label>
            <input type="text" th:id="'price' + ${iterStat.index}" th:field="*{prices[__${iterStat.index}__].price}" />
            <button type="button" onclick="deleteSizePrice(this)">Delete</button>
            <br/>
            <div th:errors="*{prices[__${iterStat.index}__].size}">Error</div>
            <div th:errors="*{prices[__${iterStat.index}__].price}">Error</div>
        </div>

    </div>
    <div th:errors="${item.prices}">Error</div>

    <button type="button" onclick="addSize()">Add Size</button><br/>
    <button type="submit">Save Item</button>
</form>

<script th:inline="javascript">
    //set this index with the length of the object sent from the server
    var index = [[${#lists.size(item.prices)}]];
    // [[${item.prices}]];  // Initialize with current size
    function addSize() {
        var container = document.createElement('div');
        container.classList.add('sizePriceContainer');

        var sizeLabel = document.createElement('label');
        sizeLabel.setAttribute('for', 'size' + index);
        sizeLabel.textContent = 'Size:';
        container.appendChild(sizeLabel);

        var sizeInput = document.createElement('input');
        sizeInput.setAttribute('type', 'text');
        sizeInput.setAttribute('id', 'size' + index);
        sizeInput.setAttribute('name', 'prices[' + index + '].size');
        container.appendChild(sizeInput);

        var priceLabel = document.createElement('label');
        priceLabel.setAttribute('for', 'price' + index);
        priceLabel.textContent = 'Price:';
        container.appendChild(priceLabel);

        var priceInput = document.createElement('input');
        priceInput.setAttribute('type', 'text');
        priceInput.setAttribute('id', 'price' + index);
        priceInput.setAttribute('name', 'prices[' + index + '].price');
        container.appendChild(priceInput);

        var deleteButton = document.createElement('button');
        deleteButton.setAttribute('type', 'button');
        deleteButton.textContent = 'Delete';
        deleteButton.setAttribute('onclick', 'deleteSizePrice(this)');
        container.appendChild(deleteButton);

        var br = document.createElement('br');
        container.appendChild(br);

        document.getElementById('sizesAndPrices').appendChild(container);

        index++;
    }

    function deleteSizePrice(button) {
        var container = button.parentNode;
        container.parentNode.removeChild(container);
    }
</script>
</body>
</html>